body {
    background-color:#d1d7dc;
}

/*.GridPosition
    {
    	position:absolute;
    	left:300px;
    	top:200px;
    	height:200px;
    	width:200px;
    }*/

h1 {
    text-align:center;
    font-weight:400;
    background-color:#000;
    color:#d1d7dc;
}

.MainDiv {
    clear:both;
    background:#beeba7;
    width:80%;
    height:500px;
    margin:0 10%;
    padding-top:10%;
}

p {
    background-color:#000;
    color:#d1d7dc;
    text-align:center;
}

.RegisterRow {
    float:right;
    margin-right:160px;
    margin-top:-100px;
}

td {
    padding:10px;
}

.row { 
    clear: both; width: 20%; 
overflow: hidden; margin: 5px 0;
} 
    
.label { 
    float: left; text-align: right; margin-right: 10px; width: 150px;
} 
    
.value { 
    float: left; text-align: left;
}

h2 {
    text-align:center;
    font-size:x-large;
    font-weight:500;
    margin-bottom: 19px;
}

.UsersButton {
    margin: 0 auto;
    float:none;
    padding-left:15%;
}